* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.5;
  padding-top: 50px;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'ReadexPro',sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  line-height: 1.2;
  width: 190px;
  padding: 14px 63px;
  border-radius: 200px;
  border: solid 2px #333;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

button:hover {
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  padding: 15px 30px;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #dce5e2 !important;
}

.navbar a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  color: #ff6f00;
}

.navbar .logo {
  font-size: 1.6rem;
  font-weight: 700;
}

.product-card {
  max-width: 302px;
  padding: 4px 41px 29px 0.5px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 59px;
}

.page-btn {
  border: none;
  padding: 0;
}

.catalog {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  .product-card {
    height: 350px;
  }

  .navbar {
    padding: 10px 20px;
  }

  .navbar a {
    font-size: 0.9rem;
  }
}
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  select, input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}

nav {
  display: flex;
  gap: 20px;
  font-size: 18px;
  background-color: #dce5e2 !important;
}

.cart-link {
  position: relative;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}



